<!-- services -->

    {% load static %}

    
        
    <main>
        <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
          <div class="row body">
            
                    <div class="col-sm-4 hidden-xs bg-white body"> 
              
              
            </div>
                  
            <!-- MAIN CONTENT -->
        
            <div class="col-sm-8 bg-white col-12 col-md-12 ">
              <div>
                
      <div class="container">
        <div class="row equal"> 
      
            <!-- MAIN CONTENT -->
            <h1 class="text-center">Our Services</h1>
                 
            <div class="row">
              <div class="col-sm-4">
                <div class="card" style="width: 21rem;">
                  <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-user-md"></i> Pharmacist Independent Prescribing</h5>
                    <p class="card-text">Our prescribing pharmacist can offer advice and treatments for urinary tract infection for women.
                      This service is available every weekday except Tuesdays.</p>
                    <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-syringe"></i> Flu Jab</h5>
                    <p class="card-text">Getting the flu vaccine is more important than ever this year. So get your flu jab from Georgetown Pharmacy in Merthyr Tydfil.</p>
                    <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-truck"></i> Free Prescription Delivery Service.</h5>
                    <p class="card-text">Sign up so you can get your medications delivered directly to your door.</p>
                    <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>

              <div>
                <br><br><br>
              </div>

              </div>
              <div class="sep-30"></div>
              <p class="text-center" style="margin: 0 auto;"> <a class="read-more-btn" href="{% url 'services' %}?category=donation">View All Services</a> </p>
              <div class="sep-30"></div>
                  
                        
               </div>
             </div>
          <br><br><br><br>
      </div>